*{
    margin: 0;
    padding:0;
}

.container{
    width: 100%;
    height: 100vh;
    background:url(images/bg.jpg) center  no-repeat ;
    background-size:cover;
}

.banner{
    color:white;
    width:750px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.banner-heading{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
text-transform: uppercase;
margin-bottom:80px ;
border-top:7px solid white ;
border-bottom:7px solid white ;
}


.arrow{
    font-size: 50px;
    margin-bottom:30px ;
    animation: anim 3s infinite ;
}

.banner-btn{
    width: 200px;
    padding: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent ;
    color: white;
    border-radius: 15px;
    border: 2px solid white;
    outline: none ;
    cursor: pointer;
    transition: transform .3s ;
}
 .banner-btn:hover{
    transform: translateY(-1px);
 }


 @keyframes anim{
    0%{transform: translateY(o);}
    20%{transform: translateY(o);}
    40%{transform: translateX(-30px);}
    50%{transform: translateX(o);}
    60%{transform: translateY(-15px);}
    80%{transform: translateX(30);}
    100%{transform: translateX(o);}
 }

.form-container{
    display: flex;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 20px 50px black ;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ;
}
.sign-up-form {
width: 50%;
background-color: gray;
padding: 120px 50px;
box-sizing:border-box;

}

.form-input{
    width: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color:orange ;
    background-color:gray ;
    border: none;
    border-bottom: 2px solid white;
    margin-bottom: 50px;
    outline: none;
    padding: 10px 0;
    transition: border-bottom-color .8s;
}

.form-input:focus{
    border-bottom-color: grey ;
}
.sign-up-form p{
    color:grey; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 200;
    margin-bottom: 8px;
}

.sign-up-form label{
    color:white;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 15px;
font-weight: 200;
letter-spacing: 1px;
text-transform: uppercase;
}

.sign-up-form input[type="checkbox"] {
    position: relative;
-webkit-appearance:none ;
-moz-appearance:none ;
appearance:none ;
width: 30px;
height: 15px;
background-color: white;
outline: none;
border-radius: 20px;
margin: 0 8px;
box-shadow: inset 0 0 10px black;
transition: background-color .5s;
}


.sign-up-form input:checked[ type="checkbox"]{
    background-color: wheat;
}


.sign-up-form input[type="checkbox"]::before{
content: '';
width: 17px;
height: 17px;
background-color: black;
position: absolute;
border-radius: 70%;
top:-1px; 
left:4px;
box-shadow: 0 2px 5px grey ;
transition: left .5s;
}
.sign-up-form input:checked[ type="checkbox"]::before{
    left: 18px;
}


.sign-up-form button{
display:block ;
margin-top: 80px;
width: 150px;
padding: 8px 5px;
background-color: transparent ;
color:white;
border:2px solid white;
border-radius: 50px;
outline: none;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 15px;
letter-spacing: 1px;
text-transform: uppercase;
cursor: pointer;
}

.header{
    width: 50%;
    background: url(images/bg2.jpg) center no-repeat;
    background-size:cover;
    box-shadow: -10px 0 30px black;
    position: relative;
}

.header h1{
position: absolute;
top: 15%;
left: 50%;
transform: translateX(-50%);
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 40px;
text-transform: uppercase;
letter-spacing: 1px;
}



.x-btn{
    position: absolute;
    bottom: -6%;
    right: 1%;
    font-size: 23px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}